.pantalla {
	padding: 18px 18px 0px 18px;
}

.Operaciones button{
display:block 

}



.teclado {
    display: flex;
    
}
.Operaciones button{
    width: 24px;
    height: 24px;
    padding: 1px 1px;
    color: #fff;
    background-color: #00c0ff;
}
.Imprimir button{
    width: 120px;
	height: 30px;
    color: #fff;
    background-color: #f6b55d;
}

.numeros div button{
    
	width: 24px;
    height: 24px;
    padding: 1px 1px;
    color: #fff;
    background-color: #0091ff;   
    
}
