h1{
font-size: smaller;
}

.rojo{
    background-color: red;
    color:#ffffff;
}

.contenedor{
display: :flex;
padding: 10px;
margin: auto;
width: 80% ;
height: 200px;
}

.contenedor:hover{
    background-color: red;
}